.form {
	position: relative;
	margin: 0 auto;
	top: 50%;
	width: 70%;
	border-radius: 6px;
}

.options {
	background: #fff;
	border-radius: 6px;
	border: 1px solid #000;
	margin-top: 1rem;
	display: block;
	list-style: none;
	width: 100%;
	transition: width 0.3s;
	position: relative;
}
