.form {
	position: relative;
	margin: 0 auto;
	top: 50%;
	width: 70%;
}

.options {
	padding-top: 1rem;
	display: block;
	list-style: none;
	width: 100%;
	transition: width 0.3s;
	position: relative;
}
