@import 'colors.scss';
@import 'mixins.scss';

.gallery {
	margin: 0 auto;
	@include wrapper;

	&__search {
		position: relative;
		width: 100%;
		padding-top: 4rem;
	}

	&__title {
		font-size: 4.6rem;
		font-weight: 600;
		padding: 4rem 0;
	}
}

.back-link {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	width: 12rem;
	height: 12rem;
	background: $back-link-bg-color;
	border-radius: 50%;

	&--display {
		display: flex;
	}
}
