.photo {
	margin-bottom: 1rem;
	&__img {
		cursor: zoom-in;
	}

	&__modal {
		&-header {
			padding: 2rem 0;
			display: flex;
			justify-content: space-between;
		}

		&-author,
		&-location {
			font-size: 1.6rem;
			font-weight: 600;
		}

		&-location {
			padding: 1rem 0;
		}

		&-img {
			width: 50rem;
		}

		&-btn {
			outline: none;
		}
	}
}
